In [1]:
%matplotlib widget

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
clips = pd.read_csv("beam_clips.csv", index_col=0)

In [2]:
clips.head()

       d    t  n    s     ds  c_spcg           z  h_beam  h_clip  d_end
0  0.625  1.5  2  2.5   True     1.0  870.985053     7.5     5.5   1.25
1  0.625  1.5  2  2.5  False     1.0  603.263440     7.5     5.5   1.25
2  0.625  1.5  2  3.0   True     1.0  870.985053     8.0     6.0   1.25
3  0.625  1.5  2  3.0  False     1.0  603.263440     8.0     6.0   1.25
4  0.625  1.5  2  4.0   True     1.0  870.985053     9.0     7.0   1.25

In [23]:
c = clips[clips.t==3.5][["d", "h_beam", "z"]].pivot_table(
    index=["h_beam"],
    columns=["d"],
    values="z",
    aggfunc=np.min,
)

c.style.format(na_rep="")